version: '3.8'

services:
    bot:
        build: .
        container_name: bot
        restart: unless-stopped
        links:
            - player
        environment:
            - LAVALINK_NODES=lavalink://1:password@player:2333
            - DISCORD_TOKEN=${DISCORD_TOKEN}
            - CLIENT_ID=${CLIENT_ID}

    player:
        build: ./lavalink
        container_name: player
        restart: unless-stopped
        volumes:
            # Mount application.yml for configuration (optional, see Lavalink documentation)
            - ./lavalink/application.yml:/opt/Lavalink/application.yml
            # Persist plugins between restarts (optional, see Lavalink documentation)
            - ./plugins/:/opt/Lavalink/plugins/
        ports:
            # Expose port for your application to connect (optional if container network is used)
            - '2333:2333'
