name: Build and Run Image

on:
    push:
        branches: [master, dev]

jobs:
    build-and-run:
        runs-on: self-hosted
        steps:
            - uses: actions/checkout@v3
            - name: Build Docker image
              run: make build
            - name: Run Docker compose
              run: make down && make up
